# Common files:
.github/CODEOWNERS @IBM/cloudant-sdks
.github/ISSUE_TEMPLATE/bug_report.md @IBM/cloudant-sdks
.github/ISSUE_TEMPLATE/feature_request.md @IBM/cloudant-sdks
.github/dco.yml @IBM/cloudant-sdks
.github/dependabot.yml @IBM/cloudant-sdks
.github/pull_request_template.md @IBM/cloudant-sdks
CODE_OF_CONDUCT.md @IBM/cloudant-sdks
CONTRIBUTING.md @IBM/cloudant-sdks
Jenkinsfile @IBM/cloudant-sdks
KNOWN_ISSUES.md @IBM/cloudant-sdks
LICENSE @IBM/cloudant-sdks
README.md @IBM/cloudant-sdks
scripts/publish_buildinfo.sh @IBM/cloudant-sdks
scripts/pydoc/generate-index-html.sh @IBM/cloudant-sdks
scripts/pydoc/publish-doc.sh @IBM/cloudant-sdks
scripts/setup_couch.sh @IBM/cloudant-sdks
scripts/setup_wiremock.sh @IBM/cloudant-sdks
stubs/gen-its-mappings.json @IBM/cloudant-sdks
stubs/mappings.json @IBM/cloudant-sdks

# Generated code files:

ibmcloudant/cloudant_v1.py @IBM/cloudant-sdks
test/unit/test_cloudant_v1.py @IBM/cloudant-sdks

# Version files:

ibmcloudant/version.py @IBM/cloudant-sdks
setup.py @IBM/cloudant-sdks

# Examples files:

/examples/ @IBM/cloudant-sdks

.bumpversion.cfg @IBM/cloudant-sdks
