# test dependencies
pytest==6.2.5
responses==0.17.0
python_dotenv==0.19.2
pylint==2.12.2
tox==3.24.5
pytest-rerunfailures==10.2

# code coverage
coverage==6.2
pytest-cov==3.0.0

# documentation
recommonmark==0.7.1
Sphinx==4.4.0
