name: docs
on:
  pull_request:
    branches: ['main']
permissions: {}
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Setup python 3.14
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: '3.14'
        cache: 'pip'
    - name: Install deps
      run: pip install -r requirements-docs.txt
    - name: Build docs
      run: sphinx-build source apidocs -bhtml
