name: test
on:
  push:
    branches: ['main']
  pull_request:
    branches-ignore: ['gh-pages']
permissions: {}
env:
  SERVER_AUTH_TYPE: basic
  SERVER_URL: http://127.0.0.1:5984
  SERVER_USERNAME: admin
  SERVER_PASSWORD: password
  WIREMOCK_URL: http://127.0.0.1:8080
  WIREMOCK_PORT: 8080
jobs:
  test:
    strategy:
      matrix:
        python: ['3.10', '3.11', '3.12', '3.13', '3.14']
    runs-on: ubuntu-latest
    services:
      couchdb:
        image: apache/couchdb:3
        env:
          COUCHDB_USER: ${{ env.SERVER_USERNAME }}
          COUCHDB_PASSWORD: ${{ env.SERVER_PASSWORD }}
        options: --name couchdb
        ports:
        - 5984:5984
      wiremock:
        image: wiremock/wiremock
        options: --name wiremock
        ports:
        - 8080:8080
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - name: Setup python ${{ matrix.python }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python }}
        cache: 'pip'
    - name: Setup CouchDB
      shell: bash
      run: ${GITHUB_WORKSPACE}/scripts/setup_couch.sh
    - name: Setup Wiremock
      shell: bash
      run: ${GITHUB_WORKSPACE}/scripts/setup_wiremock.sh
    - name: Install deps
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt
        flit install --only-deps
    - name: Run tests
      run: python -m pytest
